Lenguaje de marcas/XML/PRACTICA EXAMEN/Universidad/universidad.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="universidad">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="alumno" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[A-Za-z]+" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="carrera">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[A-Za-z]+"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="nota">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:pattern value="[0-10]{1}"></xs:pattern>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="matricula" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="ALU[0-9]{4}" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>