Lenguaje de marcas/XML/PRACTICA EXAMEN/Hospital/hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="hospital">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="paciente" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nombre">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[A-Z][a-z]+" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="edad">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="[0-9]{1,3}" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="diagnostico" type="xs:string" />
                    </xs:sequence>
                    <xs:attribute name="id" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="PAC[0-9]{3}" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>

            </xs:element>
      
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>