Lenguaje de marcas/XML/2/d/tablaperiodica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tablaperiodica">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="elemento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="num-atomico" type="xs:positiveInteger" use="required"></xs:attribute>
                                <xs:attribute name="simbolo" type="xs:string" use="required"></xs:attribute>
                                <xs:attribute name="radiactivo" type="xs:string" use="optional"></xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>    