Lenguaje de marcas/XML/2/c/SistemaSolar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="sistemaSolar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cuerpo" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="tipo" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="nombre" type="xs:string"></xs:element>
                <xs:element name="satelite" type="xs:string"></xs:element>
                <xs:element name="asteroide" type="xs:string"></xs:element>
            </xs:sequence>

        </xs:complexType>
    </xs:element>
</xs:schema>